
$primary-color: #3490dc;

body {
  font-family: 'Helvetica', sans-serif;
  background-color: $primary-color;
}

.btn {
  padding: 10px 20px;
  background-color: darken($primary-color, 10%);
  color: white;
  border-radius: 5px;
}
